<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My novel</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="header">
      <a href="/" class="header-logo">読書管理サイト</a>
      <h1>読了</h1>
    </div>
    
  </body>
</html>
